.subList{
    margin:0;
    padding: 0;
    margin-top:20px;
    border:1px solid rgb(20, 72, 168);
    border-radius: 10px;
    padding-top:10px;
    padding-bottom:10px;
    width:80%;
    margin-left:10%;
    background-color: rgb(49, 60, 70);
}

.subList h3{
    color:gold;
    font-family: monospace;
    margin:0px;
    padding:0px;
}

@media (max-width:600px){
    .subList{
        width:96%;
        margin-left:2%;
    }
}